.list-item {
  display: flex;
  padding: 10px 10px;
  font-size: 15px;

  &:hover {
    background-color: #ddd;
  }

  .item-icon {
    padding-right: 8px;
  }

  .item-content {
    flex: 1;
  }

  // .item-right {

  // }
}